@font-face {
  font-family: Sul Sans;
  src: url(/SulSansRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Sul Sans;
  src: url(/SulSansBold.woff2) format("woff2");
  font-weight: 600
  font-style: normal
}

.navbar {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 22px 55px !important;
}

.navbar * {
  vertical-align: middle !important;
}

.navbar .links {
  top: unset !important;
}

.navbar .logo {
  height: 42px !important;
  min-width: unset !important;
  padding: 5px 15px;
  margin-right: unset !important;
}

.navbar .site-name, .nav-link, .repo-link, .homepage-links a {
  color: $accentColor !important;
  font-family: 'Sul Sans' !important;
}

.navbar .nav-link, .repo-link {
  font-weight: 600 !important;
  text-transform: uppercase;
  font-size: 14px !important;
  margin: 0.91em 0;
}

.navbar .search-box {
  margin-left: 2rem !important;
  order: 1;
  position: relative;
  top: -3px;
}

.navbar .search-box input {
  transition: unset !important;
}

.site-name {
  display: none !important;
}

.icon.outbound {
  display: none;
}

.homepage-links {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.homepage-links a {
  border-radius: 4px;
  border: 2px solid $accentColor;
  font-size: 18px;
  font-weight: 700;
  padding: 13px 5px;
  width: 28%;
  max-width: 230px;
  text-align: center;
  margin: 0 20px;
}
.homepage-links a:first-of-type { margin-left: 0; }
.homepage-links a:last-of-type { margin-right: 0; }

@media(max-width: 400px) {
  header .links {
    display: none !important;
  }

  .sidebar-button {
    top: unset !important;
  }
}
